<!DOCTYPE html>
<html>
<head>
  <title>Bawi</title>
  <%= stylesheet_link_tag    "bawi/application", :media => "all" %>
  <%= javascript_include_tag "bawi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
